:host {
    display: block;
    margin-top: 5vh;

    section {
        width: 75%;
        margin: auto;

        table {
            width: 100%;

            .with-icon {
                display: flex;
                align-items: center;

                mat-icon {
                    width: 14px;
                }
            }
        }
    }
}
